*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
   background-color: blueviolet;

}
img{
    height: 50px;

}
a{
    color: white;
    text-decoration: none;
    padding:0px 30px ;
}
.anchor{
    margin-left: 700px;
    
}
